<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		<%= link_to "Administração", new_admin_session_path , class: "btn-link" %>
	</div>
	<!-- Default to the left -->
	<strong>Copyleft <span class="copy-left">&copy;</span> 2016 <a href="" class="btn-link"><b>Eletronjun</b></a>.</strong>
</footer>
