<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <% unless client_signed_in? or admin_signed_in? %>
        <%= link_to "Administração", new_admin_session_path , class: "btn-link" %>
      <% else %>
        <%= link_to "Gitlab", root_path , class: "btn-link" %>
      <% end %>
    </div>
	<!-- Default to the left -->
	<strong>Copyleft <span class="copy-left">&copy;</span> 2016 <a href="" class="btn-link"><b>Eletronjun</b></a>.</strong>
</footer>
